:root {
  font-family: 'lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}
a:hover, a:active, a:focus {
  color: inherit;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  width: 100vw;
}

b, strong {
  font-weight: 700 !important;
}

/* Dark mode global background and text color */
/*
html.dark, html.dark body {
  background: #100417 !important;
  color: #F7F4F3 !important;
}
*/

/* Remove all default button styles except for .onward-btn */
button:not(.onward-btn), button:not(.onward-btn):hover, button:not(.onward-btn):focus, button:not(.onward-btn):focus-visible {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: none !important;
  color: inherit !important;
  transition: none !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: inherit;
  }
}

/*
html {
  background: #F7F4F3 !important;
}
*/
